.table--fiesta {
   width: calc(100% + 10px);
   margin-right: -5px;
   margin-bottom: $spacer;
   margin-left: -5px;

   border-spacing: 5px 0;
   border-collapse: separate;

   font-size: 13px;

   color: palette(colorGray,darker);
   th,
   td {
      padding: $spacer/2;
      @include media-breakpoint-up(md) {
         padding: $spacer/2 $spacer;
      }
   }
   td {
      text-align: center;
      //color:lighten(palette(colorGray,darker),7);
   }
   thead {
      th {
         text-align: center;

         color: $colorWhite;
         &:nth-child(1) {
            text-align: left;

            background: palette(colorBrandOrange, base);
         }
         &:nth-child(2) {
            background: palette(colorBrandBlue, base);
         }
         &:nth-child(3) {
            background: palette(colorGray, base);
         }
      }
   }
   tbody {
      tr {
         &:nth-of-type(odd) {
            th,
            td {
               &:nth-child(1) {
                  background: palette(colorBrandOrange, lighter);
               }
               &:nth-child(2) {
                  background: palette(colorBrandBlue, lighter);
               }
               &:nth-child(3) {
                  background: palette(colorGray, lighter);
               }
            }
         }
         &:nth-of-type(even) {
            th,
            td {
               &:nth-child(1) {
                  background: palette(colorBrandOrange, lightest);
               }
               &:nth-child(2) {
                  background: palette(colorBrandBlue, lightest);
               }
               &:nth-child(3) {
                  background: palette(colorGray, lightest);
               }
            }
         }
      }
   }
   @include media-breakpoint-up(md) {
      width: calc(100% + 24px);
      margin-right: -12px;
      margin-left: -12px;

      border-spacing: 12px 0;

      font-size: 18px;
   }
}
.table--percentage {
   width: calc(100% + 10px);
   margin-right: -5px;
   margin-left: -5px;

   border-spacing: 5px 0;
   border-collapse: separate;

   font-weight: bold;
   th,
   td {
      padding: $spacer*2 $spacer;

      text-align: center;

      color: $colorWhite;
      @include media-breakpoint-up(lg) {
         padding: $spacer*2.5 $spacer;
      }
   }
   tbody {
      tr {
         th,
         td {
            &:nth-child(1) {
               background: palette(colorBrandBlue, base);
            }
            &:nth-child(2) {
               background: palette(colorBrandBlue, light);
            }
         }
      }
   }
   @include media-breakpoint-up(lg) {
      width: calc(100% + 24px);
      margin-right: -12px;
      margin-left: -12px;

      border-spacing: 12px 0;
   }
}
.table--percentageLabel {
   white-space: nowrap;
}
.table--percentagePercent {
   font-size: 30px;
}
