//- .container
//- 	include _notifyTray.pug
footer.footerMain
	a(href='#pageTop').footerMain-topLink Back To Top
		i.footerMain-topLinkIcon.fa-chevron-up
	.footerMain-inner
		.footerMain-main
			ul.footerMain-nav
				li.footerMain-navItem
					a(href='site-map.html').footerMain-navLink Site Map
				li.footerMain-navItem
					a(href='https://www.amgen.com/privacy-statement/').footerMain-navLink Privacy Statement
				li.footerMain-navItem
					a(href='https://www.amgen.com/terms-of-use/').footerMain-navLink Terms of Use
				li.footerMain-navItem
					a(href='http://www.amgenoncology.com/').footerMain-navLink Amgen Oncology
				li.footerMain-navItem
					a(href='http://www.amgenassist360.com/hcp/vectibix-reimbursement-financial-assistance/').footerMain-navLink Amgen Assist 360
						sup TM
				li.footerMain-navItem
					a(href='https://www.amgenmedinfo.com/home').footerMain-navLink Amgen MedInfo
				li.footerMain-navItem
					a(href='http://preferences-mgr.truste.com/?pid=amgen01&aid=amgen_pub01&type=amgen').footerMain-navLink Advertising Choices
			.footerMain-logo 
				a(href='http://www.amgen.com/').footerMain-logoLink
					img(src='img/content-images/logo-amgen.png').footerMain-logoImg
		.footerMain-collateral
			p &copy; 2017 Amgen Inc. All rights reserved. USA-945-103094(5)
			p This website is intended for US healthcare professionals only.
