.container
	.notifyTray.is-sticky
		.notifyTray-inner
			.notifyTray-content
				.notifyTray-toggle 
					.notifyTray-toggleLink.colorBrandBlue
						//- | See More
				h3.h5.colorBrandBlue.mb-1 IMPORTANT SAFETY INFORMATION
				h4.h6 WARNING: CYTOKINE RELEASE SYNDROME and NEUROLOGICAL TOXICITIES
				strong
					ul
						li
							| Cytokine Release Syndrome (CRS), which may be life-threatening or fatal, occurred in patients receiving BLINCYTO#[sup &reg;]. Interrupt or discontinue BLINCYTO#[sup &reg;] as recommended.
						li 
							| Neurological toxicities, which may be severe, life-threatening or fatal, occurred in patients receiving BLINCYTO#[sup &reg;]. Interrupt or discontinue BLINCYTO#[sup &reg;] as recommended.
				h4.h5.colorBrandBlue Contraindications
				p BLINCYTO#[sup &reg;] is contraindicated in patients with a known hypersensitivity to blinatumomab or to any component of the product formulation.
				h4.h5.colorBrandBlue Warnings and Precautions
				ul
					li
						| Cytokine Release Syndrome (CRS): CRS, which may be life-threatening or fatal, occurred in patients receiving BLINCYTO#[sup &reg;]. Infusion reactions have occurred and may be clinically indistinguishable from manifestations of CRS. Closely monitor patients for signs and symptoms of serious events such as pyrexia, headache, nausea, asthenia, hypotension, increased alanine aminotransferase (ALT), increased aspartate aminotransferase (AST), increased total bilirubin (TBILI), disseminated intravascular coagulation (DIC), capillary leak syndrome (CLS), and hemophagocytic lymphohistiocytosis/macrophage activation syndrome (HLH/MAS). Interrupt or discontinue BLINCYTO#[sup &reg;] as outlined in the Prescribing Information (PI).
					li 
						| Neurological Toxicities: Approximately 64% of patients receiving BLINCYTO#[sup &reg;] in clinical trials experienced neurological toxicities. The median time to onset of any neurological toxicity was 4 days. The most common (≥ 10%) manifestations of neurological toxicity were headache, tremor, dizziness, and altered state of consciousness. Severe, life-threatening, or fatal neurological toxicities occurred in approximately 17% of patients, including encephalopathy, convulsions, speech disorders, disturbances in consciousness, confusion and disorientation, and coordination and balance disorders. The neurological toxicity profile varied by age group. Monitor patients for signs or symptoms and interrupt or discontinue BLINCYTO#[sup &reg;] as outlined in the PI.

					li 
						| Infections: Approximately 25% of patients receiving BLINCYTO#[sup &reg;] experienced serious infections, some of which were life-threatening or fatal. Administer prophylactic antibiotics and employ surveillance testing as appropriate during treatment. Monitor patients for signs or symptoms of infection and treat appropriately, including interruption or discontinuation of BLINCYTO#[sup &reg;] as needed.
					li 
						| Tumor Lysis Syndrome (TLS): TLS, which may be life-threatening or fatal, has been observed. Preventive measures, including pretreatment nontoxic cytoreduction and on-treatment hydration, should be used during BLINCYTO#[sup &reg;] treatment. Monitor patients for signs and symptoms of TLS and interrupt or discontinue BLINCYTO#[sup &reg;] as needed to manage these events.
					li 
						| Neutropenia and Febrile Neutropenia, including life-threatening cases, have been observed. Monitor appropriate laboratory parameters during BLINCYTO#[sup &reg;] infusion and interrupt BLINCYTO#[sup &reg;] if prolonged neutropenia occurs.
					li 
						| Effects on Ability to Drive and Use Machines: Due to the possibility of neurological events, including seizures, patients receiving BLINCYTO#[sup &reg;] are at risk for loss of consciousness, and should be advised against driving and engaging in hazardous occupations or activities such as operating heavy or potentially dangerous machinery while BLINCYTO#[sup &reg;] is being administered.
					li 
						| Elevated Liver Enzymes: Transient elevations in liver enzymes have been associated with BLINCYTO#[sup &reg;] treatment with a median time to onset of 3 days. In patients receiving BLINCYTO#[sup &reg;], although the majority of these events were observed in the setting of CRS, some cases of elevated liver enzymes were observed outside the setting of CRS, with a median time to onset of 15 days. Grade 3 or greater elevations in liver enzymes occurred in 6% of patients outside the setting of CRS and resulted in treatment discontinuation in less than 1% of patients.  Monitor ALT, AST, gamma-glutamyl transferase (GGT), and TBILI prior to the start of and during BLINCYTO#[sup &reg;] treatment. BLINCYTO#[sup &reg;] treatment should be interrupted if transaminases rise to > 5 times the upper limit of normal (ULN) or if TBILI rises to > 3 times ULN.
					li 
						| Pancreatitis: Fatal pancreatitis has been reported in patients receiving BLINCYTO#[sup &reg;] in combination with dexamethasone in clinical trials and the post-marketing setting. Evaluate patients who develop signs and symptoms of pancreatitis and interrupt or discontinue BLINCYTO#[sup &reg;] and dexamethasone as needed.
					li 
						| Leukoencephalopathy: Although the clinical significance is unknown, cranial magnetic resonance imaging (MRI) changes showing leukoencephalopathy have been observed in patients receiving BLINCYTO#[sup &reg;], especially in patients previously treated with cranial irradiation and antileukemic chemotherapy.
					li 
						| Preparation and administration errors have occurred with BLINCYTO#[sup &reg;] treatment. Follow instructions for preparation (including admixing) and administration in the PI strictly to minimize medication errors (including underdose and overdose).
					li 
						| Immunization: Vaccination with live virus vaccines is not recommended for at least 2 weeks prior to the start of BLINCYTO#[sup &reg;] treatment, during treatment, and until immune recovery following last cycle of BLINCYTO#[sup &reg;]. 
					li 
						| Risk of Serious Adverse Reactions in Pediatric Patients due to Benzyl Alcohol Preservative: Serious and fatal adverse reactions including “gasping syndrome,” which is characterized by central nervous system depression, metabolic acidosis, and gasping respirations, can occur in neonates and infants treated with benzyl alcohol-preserved drugs including BLINCYTO#[sup &reg;] (with preservative). When prescribing BLINCYTO#[sup &reg;] (with preservative) for pediatric patients, consider combined daily metabolic load of benzyl alcohol from all sources including BLINCYTO#[sup &reg;] (with preservative) and other drugs containing benzyl alcohol. The minimum amount of benzyl alcohol at which serious adverse reactions may occur is not known. Due to the addition of bacteriostatic saline, 7-day bags of BLINCYTO#[sup &reg;] solution for infusion with preservative contain benzyl alcohol and are not recommended for use in any patients weighing < 22 kg.
					
				h4.h5.colorBrandBlue Adverse Reactions
				ul
					li
						| The most common adverse reactions (≥ 20%) in the safety population studied in clinical trials were pyrexia (66%), headache (34%), nausea (27%), edema (26%), hypokalemia (26%), anemia (25%), febrile neutropenia (24%), neutropenia (22%), thrombocytopenia (20%), and abdominal pain (20%). The safety population included 225 patients weighing 45 kg or more and 57 patients weighing less than 45 kg. For some adverse reactions, there were differences in the incidence rates by age subgroup.
					li
						| In patients weighing greater than or equal to 45 kg, serious adverse reactions were reported in 61% of patients. The most common serious adverse reactions (≥ 2%) included febrile neutropenia (9%), pyrexia (6%), sepsis (5%), pneumonia (5%), device-related infection (4%), neutropenia (3%), tremor (3%), overdose (3%), encephalopathy (3%), infection (2%), confusion (3%) and headache (2%).
					li
						| In patients weighing less than 45 kg, serious adverse reactions were reported in 51% of patients. The most common serious adverse reactions (≥ 2%) included pyrexia (12%), febrile neutropenia (9%), cytokine release syndrome (4%), convulsion (4%), device-related infection (4%), hypoxia (4%), sepsis (4%), and overdose (4%).
				h4.h5.colorBrandBlue Dosage and Administration Guidelines
				ul
					li
						| BLINCYTO#[sup &reg;] is administered as a continuous intravenous infusion at a constant flow rate using an infusion pump which should be programmable, lockable, non-elastomeric, and have an alarm.
					li
						| It is very important that the instructions for preparation (including admixing) and administration provided in the full Prescribing Information are strictly followed to minimize medication errors (including underdose and overdose).
				h4.h5.colorBrandBlue Indication
				p BLINCYTO#[sup &reg;] is indicated for the treatment of relapsed or refractory B-cell precursor acute lymphoblastic leukemia (ALL) in adults and children.
				p Please see full 
					a(href='') Prescribing Information,
					|  including 
					strong  Boxed WARNINGS 
					| and 
					a(href='') Medication Guide
					|, for BLINCYTO#[sup &reg;].
				.inlined.reference
					h2.h6 References:
					ol
						li
							|  BLINCYTO#[sup &reg;] (blinatumomab) Prescribing Information, Amgen.
						li
							|  Data on file, Amgen; [Statistical Analysis Plan 00103311; December 2014].
						li
							|  Data on file, Amgen; [Flash Memo 00103311; April 2016].
						li
							|  Topp MS, et al. Blinatumomab improved overall survival in patients with relapsed or refractory Philadelphia-negative B-cell precursor acute lymphoblastic leukemia in a randomized, open-label phase 3 study (TOWER). Presented at: 21st Congress of the European Hematology Association; June 9-12, 2016; Copenhagen, Denmark.
				p Blincyto#[sup &reg;] is a registered trademark of Amgen Inc. 
