.notifyMain
	.notifyMain-inner
		.notifyMain-content
			h2.notifyMain-heading Indication and Limitation of use
			.notifyMain-copy
				p
					span
						| Vectibix
						sup &reg; 
						| is indicated for the treatment of patients with wild-type 
						em RAS 
						| (defined as wild-type in both 
						em KRAS 
						| and 
						em NRAS 
						as determined by an FDA-approved test for this use) metastatic colorectal cancer (mCRC): 
					span as first-line therapy in combination with FOLFOX, and as monotherapy following disease progression after prior treatment with fluoropyrimidine-, oxaliplatin-, and irinotecan-containing chemotherapy. 
				p
					| Limitation of Use: Vectibix
					sup &reg; 
					| is not indicated for the treatment of patients with 
					em RAS
					| ‑mutant mCRC or for whom 
					em RAS
					|  mutation status is unknown.
		.notifyMain-close