.container
	.notifyTray.is-sticky
		.notifyTray-inner
			.notifyTray-content
				.notifyTray-toggle 
					.notifyTray-toggleLink.colorBrandBlue See More
				h3.colorBrandBlue IMPORTANT SAFETY INFORMATION
				p
				h4.h6.fontDefault BOXED WARNING: DERMATOLOGIC TOXICITY
				strong
					u Dermatologic Toxicity:
					|  Dermatologic toxicities occurred in 90% of patients and were severe (NCI-CTC grade 3 and higher) in 15% of patients receiving Vectibix
					|  monotherapy 
				em [see Dosage and Administration (2.3), Warnings and Precautions (5.1), and Adverse Reactions (6.1)].
				p
				p
				ul
					li 
						| In Study 20020408, dermatologic toxicities occurred in 90% of patients and were severe (NCI-CTC grade 3 and higher) in 15% of patients with mCRC receiving Vectibix#[sup &reg;]. The clinical manifestations included, but were not limited to, acneiform dermatitis, pruritus, erythema, rash, skin exfoliation, paronychia, dry skin, and skin fissures.

					li 
						| Monitor patients who develop dermatologic or soft tissue toxicities while receiving Vectibix#[sup &reg;] for the development of inflammatory or infectious sequelae. Life-threatening and fatal infectious complications including necrotizing fasciitis, abscesses, and sepsis have been observed in patients treated with Vectibix#[sup &reg;]. Life-threatening and fatal bullous mucocutaneous disease with blisters, erosions, and skin sloughing has also been observed in patients treated with Vectibix#[sup &reg;]. It could not be determined whether these mucocutaneous adverse reactions were directly related to EGFR inhibition or to idiosyncratic immune-related effects (eg, Stevens Johnson syndrome or toxic epidermal necrolysis). Withhold or discontinue Vectibix#[sup &reg;] for dermatologic or soft tissue toxicity associated with severe or life-threatening inflammatory or infectious complications. Dose modifications for Vectibix#[sup &reg;] concerning dermatologic toxicity are provided in the product labeling.

					li 
						| Vectibix#[sup &reg;] is not indicated for the treatment of patients with colorectal cancer that harbor somatic 
						em  RAS
						|  mutations in exon 2 (codons 12 and 13), exon 3 (codons 59 and 61), and exon 4 (codons 117 and 146) of either 
						em  KRAS
						|  or 
						em  NRAS
						|  and hereafter is referred to as "
						em RAS
						| ."

					li 
						| Retrospective subset analyses across several randomized clinical trials were conducted to investigate the role of 
						em  RAS
						|  mutations on the clinical effects of anti-EGFR-directed monoclonal antibodies (panitumumab or cetuximab). Anti-EGFR antibodies in patients with tumors containing 
						em  RAS
						|  mutations resulted in exposing those patients to anti-EGFR related adverse reactions without clinical benefit from these agents. Additionally, in Study 20050203, 272 patients with 
						em  RAS
						| -mutant mCRC tumors received Vectibix#[sup &reg;] in combination with FOLFOX and 276 patients received FOLFOX alone. In an exploratory subgroup analysis, OS was shorter (HR = 1.21, 95% CI: 1.01-1.45) in patients with 
						em  RAS
						| -mutant mCRC who received Vectibix#[sup &reg;] and FOLFOX versus FOLFOX alone.

					li 
						| Progressively decreasing serum magnesium levels leading to severe (grade 3-4) hypomagnesemia occurred in up to 7% (in Study 20080763) of patients across clinical trials. Monitor patients for hypomagnesemia and hypocalcemia prior to initiating Vectibix#[sup &reg;] treatment, periodically during Vectibix#[sup &reg;] treatment, and for up to 8 weeks after the completion of treatment. Other electrolyte disturbances, including hypokalemia, have also been observed. Replete magnesium and other electrolytes as appropriate.

					li 
						| In Study 20020408, 4% of patients experienced infusion reactions and 1% of patients experienced severe infusion reactions (NCI-CTC grade 3-4). Infusion reactions, manifesting as fever, chills, dyspnea, bronchospasm, and hypotension, can occur following Vectibix#[sup &reg;] administration. Fatal infusion reactions occurred in postmarketing experience. Terminate the infusion for severe infusion reactions.

					li 
						| Severe diarrhea and dehydration, leading to acute renal failure and other complications, have been observed in patients treated with Vectibix#[sup &reg;] in combination with chemotherapy.

					li 
						| Fatal and nonfatal cases of interstitial lung disease (ILD) (1%) and pulmonary fibrosis have been observed in patients treated with Vectibix#[sup &reg;]. Pulmonary fibrosis occurred in less than 1% (2/1467) of patients enrolled in clinical studies of Vectibix#[sup &reg;]. In the event of acute onset or worsening of pulmonary symptoms interrupt Vectibix#[sup &reg;] therapy. Discontinue Vectibix#[sup &reg;] therapy if ILD is confirmed.

					li 
						| In patients with a history of interstitial pneumonitis or pulmonary fibrosis, or evidence of interstitial pneumonitis or pulmonary fibrosis, the benefits of therapy with Vectibix#[sup &reg;] versus the risk of pulmonary complications must be carefully considered.

					li 
						| Exposure to sunlight can exacerbate dermatologic toxicity. Advise patients to wear sunscreen and hats and limit sun exposure while receiving Vectibix#[sup &reg;].

					li 
						| Keratitis and ulcerative keratitis, known risk factors for corneal perforation, have been reported with Vectibix#[sup &reg;] use. Monitor for evidence of keratitis or ulcerative keratitis. Interrupt or discontinue Vectibix#[sup &reg;] for acute or worsening keratitis.

					li 
						| In an interim analysis of an open-label, multicenter, randomized clinical trial in the first-line setting in patients with mCRC, the addition of Vectibix#[sup &reg;] to the combination of bevacizumab and chemotherapy resulted in decreased OS and increased incidence of NCI-CTC grade 3-5 (87% vs 72%) adverse reactions. NCI-CTC grade 3-4 adverse reactions occurring at a higher rate in Vectibix#[sup &reg;]-treated patients included rash/acneiform dermatitis (26% vs 1%), diarrhea (23% vs 12%), dehydration (16% vs 5%), primarily occurring in patients with diarrhea, hypokalemia (10% vs 4%), stomatitis/mucositis (4% vs < 1%), and hypomagnesemia (4% vs 0).
						
					li 
						| NCI-CTC grade 3-5 pulmonary embolism occurred at a higher rate in Vectibix#[sup &reg;]-treated patients (7% vs 3%) and included fatal events in three (< 1%) Vectibix#[sup &reg;]-treated patients. As a result of the toxicities experienced, patients randomized to Vectibix#[sup &reg;], bevacizumab, and chemotherapy received a lower mean relative dose intensity of each chemotherapeutic agent (oxaliplatin, irinotecan, bolus 5-FU, and/or infusional 5-FU) over the first 24 weeks on study compared with those randomized to bevacizumab and chemotherapy.

					li 
						| Vectibix#[sup &reg;] can cause fetal harm when administered to a pregnant woman. Advise pregnant women and females of reproductive potential of the potential risk to a fetus. Advise females of reproductive potential to use effective contraception during treatment, and for at least 2 months after the last dose of Vectibix#[sup &reg;].

					li 
						| In monotherapy, the most commonly reported adverse reactions (≥ 20%) in patients with Vectibix#[sup &reg;] were skin rash with variable presentations, paronychia, fatigue, nausea, and diarrhea.

					li 
						| The most commonly reported adverse reactions (≥ 20%) with Vectibix#[sup &reg;] + FOLFOX were diarrhea, stomatitis, mucosal inflammation, asthenia, paronychia, anorexia, hypomagnesemia, hypokalemia, rash, acneiform dermatitis, pruritus, and dry skin. The most common serious adverse reactions (≥ 2% difference between treatment arms) were diarrhea and dehydration. 

				p
					| Please see Vectibix
					|  full 
					a(href='http://pi.amgen.com/~/media/amgen/repositorysites/pi-amgen-com/vectibix/vectibix_pi.ashx' target='_blank') Prescribing Information
					| , including 
					strong Boxed WARNING
					| .
				h3(id="indication").colorBrandBlue Indication
				p
					| Vectibix
					sup &reg; 
					|  is indicated for the treatment of patients with wild‑type 
					em RAS
					|  (defined as wild‑type in both 
					em KRAS
					|  and 
					em NRAS
					|  as determined by an FDA‑approved test for this use) metastatic colorectal cancer (mCRC):
				ul
					li As first‑line therapy in combination with FOLFOX.
					li
						| As monotherapy following disease progression after prior treatment with fluoropyrimidine‑, oxaliplatin‑, and irinotecan‑containing chemotherapy.
				h3.colorBrandBlue Limitation of Use
				p
					| Vectibix
					sup &reg; 
					|  is not indicated for the treatment of patients with 
					em RAS
					| ‑mutant mCRC or for whom 
					em RAS
					|  mutation status is unknown.
