/**
 * Basic typography style for copy text
 */


sup {
	//font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	top: -.65em;
	font-size: 50%;
}
h1, h2, h3, h4 {
	sup {
		font-size: 40%;
		vertical-align: 7px;
	}
}
