doctype html
html(lang="en")
	head
		include includes/_head.pug
		title [client name]

	body
		main
			.container
				table(width="100%").table.table-striped
					thead
						tr
							th #
							th Page Template
							th Info
					tbody
						tr
							th(scope='row') 000
							td
								a(href='styleguide.html') Styleguide
							td in progress
						tr
							th(scope='row') 001
							td
								a(href='genericTemplate.html') Generic Template
							td in progress
						tr
							th(scope='row') 002
							td
								a(href='home.html') Home
							td Ready for initial review
						tr
							th(scope='row') 003
							td
								a(href='ras.html') RAS Story
							td Ready for initial review
						tr
							th(scope='row') 004
							td
								a(href='first-line-data.html') First Line Data
							td Ready for initial review
						tr
							th(scope='row') 005
							td
								a(href='third-line-data.html') Third Line Data
							td Ready for initial review
						tr
							th(scope='row') 006
							td
								a(href='patient-profiles.html') Patient Profiles
							td Ready for initial review
						tr
							th(scope='row') 007
							td
								a(href='access.html') Access
							td Ready for initial review

						tr
							th(scope='row') 008
							td
								a(href='paid-search-home.html') Paid Search Home
							td Ready for initial review
						tr
							th(scope='row') 009
							td
								a(href='administration.html') Administration
							td Ready for initial review
						tr
							th(scope='row') 010
							td
								a(href='site-map.html') Site Map
							td Ready for initial review
						tr
							th(scope='row') 011
							td
								a(href='search-results.html') Search Results
							td Ready for initial review