doctype html
html(lang="en")
	head
		- var page = { home: "", rasStory: "", firstLine: "", thirdLine: "", administration: "", patientProfiles: "", access: "", generic: "", paidHome: "", siteMap: "" };
		include includes/_head.pug
		title [client name]

	body
		form
			.pageWrap
				include includes/_notifyMain.pug
				include includes/_headerMain.pug
				main
					.container.pt-13
						.row
							.col-md-8
								h3.h3.mb-5.colorBrandBlue Search results
								hr.hr--fade.colorBrandBlue
								p.colorGrayDarker.mt-5.mb-0
									strong Keyword: Vectibix
								p.colorGrayDarker.my-1
									| Results: 
									strong 1 - 10
								p.mb-1
									strong
										| 1. 
										a(href='').colorBrandBlue Dosage and Administration | Vectibix
											sup &reg; 
											| (panitumumab) for HCPs
								p.mb-0
									strong | Vectibix
										sup &reg; 
									| (panitumumab) for HCP
									sub s 
									| &times; Indications 
									strong Vectibix
										sup &reg; 
									| ... . 
									strong Vectibix
										sup &reg; 
									| is indicated as a single agent for the ... 
									strong Vectibix
										sup &reg; 
									| saftey profile &raquo; 
									strong Vectibix
										sup &reg; 
									| plus ...
								p.mb-2
									a(href='').colorBrandBlue http://www.Vectibix-hcp.com/dosing/
								p.mb-1
									strong
										| 2. 
										a(href='').colorBrandBlue Dosage and Administration | Vectibix
											sup &reg; 
											| (panitumumab) for HCPs
								p.mb-0
									strong | Vectibix
										sup &reg; 
									| (panitumumab) for HCP
									sub s 
									| &times; Indications 
									strong Vectibix
										sup &reg; 
									| ... . 
									strong Vectibix
										sup &reg; 
									| is indicated as a single agent for the ... 
									strong Vectibix
										sup &reg; 
									| saftey profile &raquo; 
									strong Vectibix
										sup &reg; 
									| plus ...
								p.mb-2
									a(href='').colorBrandBlue http://www.Vectibix-hcp.com/dosing/
								p.mb-1
									strong
										| 3. 
										a(href='').colorBrandBlue Dosage and Administration | Vectibix
											sup &reg; 
											| (panitumumab) for HCPs
								p.mb-0
									strong | Vectibix
										sup &reg; 
									| (panitumumab) for HCP
									sub s 
									| &times; Indications 
									strong Vectibix
										sup &reg; 
									| ... . 
									strong Vectibix
										sup &reg; 
									| is indicated as a single agent for the ... 
									strong Vectibix
										sup &reg; 
									| saftey profile &raquo; 
									strong Vectibix
										sup &reg; 
									| plus ...
								p.mb-2
									a(href='').colorBrandBlue http://www.Vectibix-hcp.com/dosing/
								p.mb-1
									strong
										| 4. 
										a(href='').colorBrandBlue Dosage and Administration | Vectibix
											sup &reg; 
											| (panitumumab) for HCPs
								p.mb-0
									strong | Vectibix
										sup &reg; 
									| (panitumumab) for HCP
									sub s 
									| &times; Indications 
									strong Vectibix
										sup &reg; 
									| ... . 
									strong Vectibix
										sup &reg; 
									| is indicated as a single agent for the ... 
									strong Vectibix
										sup &reg; 
									| saftey profile &raquo; 
									strong Vectibix
										sup &reg; 
									| plus ...
								p.mb-2
									a(href='').colorBrandBlue http://www.Vectibix-hcp.com/dosing
								p.mb-1
									strong
										| 5. 
										a(href='').colorBrandBlue Dosage and Administration | Vectibix
											sup &reg; 
											| (panitumumab) for HCPs
								p.mb-0
									strong | Vectibix
										sup &reg; 
									| (panitumumab) for HCP
									sub s 
									| &times; Indications 
									strong Vectibix
										sup &reg; 
									| ... . 
									strong Vectibix
										sup &reg; 
									| is indicated as a single agent for the ... 
									strong Vectibix
										sup &reg; 
									| saftey profile &raquo; 
									strong Vectibix
										sup &reg; 
									| plus ...
								p.mb-2
									a(href='').colorBrandBlue http://www.Vectibix-hcp.com/dosing/
								p.mb-1
									strong
										| 6. 
										a(href='').colorBrandBlue Dosage and Administration | Vectibix
											sup &reg; 
											| (panitumumab) for HCPs
								p.mb-0
									strong | Vectibix
										sup &reg; 
									| (panitumumab) for HCP
									sub s 
									| &times; Indications 
									strong Vectibix
										sup &reg; 
									| ... . 
									strong Vectibix
										sup &reg; 
									| is indicated as a single agent for the ... 
									strong Vectibix
										sup &reg; 
									| saftey profile &raquo; 
									strong Vectibix
										sup &reg; 
									| plus ...
								p.mb-2
									a(href='').colorBrandBlue http://www.Vectibix-hcp.com/dosing/
								p.mb-1
									strong
										| 7. 
										a(href='').colorBrandBlue Dosage and Administration | Vectibix
											sup &reg; 
											| (panitumumab) for HCPs
								p.mb-0
									strong | Vectibix
										sup &reg; 
									| (panitumumab) for HCP
									sub s 
									| &times; Indications 
									strong Vectibix
										sup &reg; 
									| ... . 
									strong Vectibix
										sup &reg; 
									| is indicated as a single agent for the ... 
									strong Vectibix
										sup &reg; 
									| saftey profile &raquo; 
									strong Vectibix
										sup &reg; 
									| plus ...
								p.mb-2
									a(href='').colorBrandBlue http://www.Vectibix-hcp.com/dosing/
								p.mb-1
									strong
										| 8. 
										a(href='').colorBrandBlue Dosage and Administration | Vectibix
											sup &reg; 
											| (panitumumab) for HCPs
								p.mb-0
									strong | Vectibix
										sup &reg; 
									| (panitumumab) for HCP
									sub s 
									| &times; Indications 
									strong Vectibix
										sup &reg; 
									| ... . 
									strong Vectibix
										sup &reg; 
									| is indicated as a single agent for the ... 
									strong Vectibix
										sup &reg; 
									| saftey profile &raquo; 
									strong Vectibix
										sup &reg; 
									| plus ...
								p.mb-2
									a(href='').colorBrandBlue http://www.Vectibix-hcp.com/dosing/
								p.mb-1
									strong
										| 9. 
										a(href='').colorBrandBlue Dosage and Administration | Vectibix
											sup &reg; 
											| (panitumumab) for HCPs
								p.mb-0
									strong | Vectibix
										sup &reg; 
									| (panitumumab) for HCP
									sub s 
									| &times; Indications 
									strong Vectibix
										sup &reg; 
									| ... . 
									strong Vectibix
										sup &reg; 
									| is indicated as a single agent for the ... 
									strong Vectibix
										sup &reg; 
									| saftey profile &raquo; 
									strong Vectibix
										sup &reg; 
									| plus ...
								p.mb-2
									a(href='').colorBrandBlue http://www.Vectibix-hcp.com/dosing/
								p.mb-1
									strong
										| 10. 
										a(href='').colorBrandBlue Dosage and Administration | Vectibix
											sup &reg; 
											| (panitumumab) for HCPs
								p.mb-0
									strong | Vectibix
										sup &reg; 
									| (panitumumab) for HCP
									sub s 
									| &times; Indications 
									strong Vectibix
										sup &reg; 
									| ... . 
									strong Vectibix
										sup &reg; 
									| is indicated as a single agent for the ... 
									strong Vectibix
										sup &reg; 
									| saftey profile &raquo; 
									strong Vectibix
										sup &reg; 
									| plus ...
								p.mb-0
									a(href='').colorBrandBlue http://www.Vectibix-hcp.com/dosing/
				include includes/_notifyTray.pug
				include includes/_footerMain.pug